root = true

[*]
charset = utf-8
indent_style = tab
indent_size = 4
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{csproj,csproj.user,config,md,yml}]
indent_style = space
indent_size = 2

[*.{csproj,csproj.user,config}]
insert_final_newline = false

[*.{csproj,csproj.user,config,sln.DotSettings}]
charset = utf-8-bom
