<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Colorful.Console" version="1.2.9" targetFramework="net452" />
  <package id="CommandLineParser" version="2.3.0" targetFramework="net452" />
  <package id="DotNetZip" version="1.11.0" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="NFive.SDK.Core" version="0.1.0.14" targetFramework="net452" />
  <package id="NFive.SDK.Plugins" version="0.1.0.10" targetFramework="net452" />
  <package id="Octokit" version="0.32.0" targetFramework="net452" />
  <package id="Scriban" version="1.2.7" targetFramework="net452" />
  <package id="SemanticVersioning" version="1.2.0" targetFramework="net452" />
  <package id="YamlDotNet" version="5.2.1" targetFramework="net452" />
</packages>