<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net452" />
  <package id="CitizenFX.Core.Client" version="1.0.1715" targetFramework="net452" />
  <package id="CitizenFX.Core.Server" version="1.0.1715" targetFramework="net452" />
  <package id="CommandLineParser" version="2.6.0" targetFramework="net452" />
  <package id="Costura.Fody" version="3.3.3" targetFramework="net452" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net452" />
  <package id="EnvDTE" version="8.0.2" targetFramework="net452" />
  <package id="Fody" version="4.2.1" targetFramework="net452" developmentDependency="true" />
  <package id="Google.Protobuf" version="3.10.1" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="2019.1.3" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.18" targetFramework="net452" />
  <package id="MySql.Data.EntityFramework" version="8.0.18" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="NFive.SDK.Client" version="0.1.0.67" targetFramework="net452" />
  <package id="NFive.SDK.Core" version="0.1.0.60" targetFramework="net452" />
  <package id="NFive.SDK.Plugins" version="0.1.0.40" targetFramework="net452" />
  <package id="NFive.SDK.Server" version="0.1.0.79" targetFramework="net452" />
  <package id="NGettext" version="0.6.4" targetFramework="net452" />
  <package id="Octokit" version="0.36.0" targetFramework="net452" />
  <package id="Scriban" version="2.1.0" targetFramework="net452" />
  <package id="SemanticVersioning" version="1.2.2" targetFramework="net452" />
  <package id="SharpCompress" version="0.24.0" targetFramework="net452" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net452" />
  <package id="System.IO.Abstractions" version="7.0.7" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net452" />
  <package id="YamlDotNet" version="8.0.0" targetFramework="net452" />
  <package id="Z.EntityFramework.Extensions" version="4.0.12" targetFramework="net452" />
  <package id="Z.EntityFramework.Plus.EF6" version="1.12.3" targetFramework="net452" />
  <package id="Z.Expressions.Eval" version="3.0.5" targetFramework="net452" />
</packages>